.faq{
    padding:49px 0;
    position: relative;
}
h2{
    color: #11142D;  
}
.ornament{
    position:absolute; 
    left: 76px;
    top: -65px;
    transform: translate(-70px,0px);
}
.allques{ 
    color: #35414B;
    font-size: 0.875rem;
}
.title{
    margin-bottom: 50px;
}